<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All msg data</title>
    <style>
        .debug {
            color: blue;
        }
        .info {
            color: green;
        }
        .success {
            color: green;
        }
        .warning {
            color: orange;
        }
        .error {
            color: red;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>All Message Data</h1>
    {% if messages %}
    <ul>
      {% for message in messages%}
      <li class="{{message.tags}}">{{message}}</li>
      {% endfor %}
    </ul>
    {% else %}
     <p>No messages available</p>
    {% endif %}
</body>
</html>